<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Rutinas</ion-title>
    <!--<ion-title class="ion-text-center">Rutinas</ion-title>-->
    <!--<img src="assets/img/BreakAndMoveLogo.jpeg">-->
    <!--<img src="assets/img/BreakAndMove.jpg">-->
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Estiramiento</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/img/Estiramiento1.jpg">
      <ion-button fill="outline" slot="end">Iniciar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Calentamiento</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/img/Rutina22.png">
      <ion-button fill="outline" slot="end">Iniciar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rutina 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/img/Rutina11.png">
      <ion-button fill="outline" slot="end">Iniciar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rutina 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/img/Rutina3.png">
      <ion-button fill="outline" slot="end">Iniciar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
