<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon  name="chevron-back-outline" style="zoom:2.0"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="center">
      <div linespace></div><div linespace></div> 
     
    
      <div linespace></div>
      <ion-item transparent>
        <ion-input [(ngModel)]="Email" placeholder="Nombre de usuario" type="text"></ion-input>
      </ion-item>
      <div linespace></div>
      <ion-item transparent>
        <ion-input [(ngModel)]="Clave" placeholder="Clave" type="clave"></ion-input>
      </ion-item>
      <div linespace></div>
      <ion-item transparent>
        <ion-input [(ngModel)]="confirmar" placeholder="Confirmar clave" type="confirmar clave"></ion-input>
      </ion-item>

      <div linespace></div>
      <ion-button padding color = "danger" class="ion-button-class" shape="round" fill="solid" size="large" expand="block"
      (click)="processRegister()">Registrarse</ion-button>

  </div>

</ion-content>
